*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
body{
    max-width: 1200px;
    width: 100%;
    height: 100vh;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:  #53a8b6;
}
.container{
    width: 90%;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 6px;
    border: black solid 2px;
    border-radius: 10px;
    animation: header 1.2s ease-in;
    background-color: #bbe4e9;
}
@keyframes header{
    0%{
        transform: translateX(-1600px);
    }
}
header h1{
    font-size: larger;
}
main{
    width: 100%;
    margin: 100px 0 0 0 ;
    text-align: center;
    animation: main 2.2s ease-in;
    background-color: #bbe4e9;
    padding: 15px;
}
@keyframes main{
    0%{
        transform: translateX(-1600px);
    }
}
main form .sign-up{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    margin: 0 0 30px 0;
}
main form .payment-method{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
main form input{
    height: 40px;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
    font-weight:bold ;
    background-color:   #79c2d0;
}
main div button{
    width: 80%;
    height: 35px;
    margin: 40px 0 0 0;
    border: black solid 2px;
    border-radius: 10px;
    transition: all 0.3s ease-in;
    font-weight: bolder;
    background-color: #5585b5;
}
main div button:hover{
    transform: scale(1.04);
}
main div label{
    margin: 0 0 -10px 0;
    font-weight: bold;
    text-align: start;
}
main div select{
    height: 40px;
    border: black solid 2px;
    border-radius: 10px;
    text-align: center;
    font-weight: 500;
    background-color:   #79c2d0;
}